* text=auto eol=lf

*.drawio text eol=lf
*.md text eol=lf
*.json text eol=lf
*.puml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.docx binary
